<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raccoon - PSEL</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>

    <!-- Materialize and Material Icons -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</head>

<body>
    <div class="big-container">

        <!--barra superior-->
        <div class="topBar">
            <div class="titleDiv">
                <h3>PSEL - Raccoon Projetos </h3>
            </div>
        </div>

        <!--botoes e seletores-->
        <div class="backgroundBtnDiv">
            <div class="container z-depth-5" id="buttonDiv">
                <br>
                <text class="btnText">Mídia para extrair os dados (Ex. B)</text>
                <div class="input-field col s12" style="width: 130px; margin: 20px;">
                    <select id="mediaSelect">
                        <option value="disabled" disabled selected>Mídia</option>
                        <option value="instagram_cpc">Instagram</option>
                        <option value="Facebook_cpc">Facebook</option>
                        <option value="google_cpc">Google</option>
                    </select>
                </div>    

                <text class="btnText">Mês para extrair os dados (Ex. C)</text>
                <div class="input-field col s12" style="width: 130px; margin: 20px;">
                    <select id="monthSelect">
                        <option value="disabled" disabled selected>Mês</option>
                        <option value="01">Janeiro</option>
                        <option value="02">Fevereiro</option>
                        <option value="03">Março</option>
                        <option value="04">Abril</option>
                        <option value="05">Maio</option>
                        <option value="06">Junho</option>
                        <option value="07">Julho</option>
                        <option value="08">Agosto</option>
                        <option value="09">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                </div>    

                 <button class="btn waves-effect waves-light grey darken-3" style="margin: 30px;" id="btn-extract" type="submit">Extrair<i class="material-icons right">get_app</i>
                 <button class="btn waves-effect waves-light grey darken-3" style="margin: 30px;" id="btn-submit" type="submit">Enviar<i class="material-icons right">send</i>

            </div>  
        </div>
    </div>
</body>

</html>