* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.big-container {
    display: flex;
    flex-direction: column;
    background-color: #EDEFEF;
}

.topBar{
    height: 110px;
    background-color: #FF9320;
    flex-direction: row;
    display: flex;
}

.titleDiv{
    padding-left: 100px;
    padding-bottom: 50px;
    color: white;
}

.backgroundBtnDiv{
    height: 600px;
    margin: 20px;
}

.buttonDiv{
    width: 920px;
    background-color: #D9D9D9;
}

.btnText{
    color: #FF9320;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
}